<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header(~{::title})">
    <title>Редактирование производителя</title>
</head>
<body>
<div th:replace="fragments/menu::menu(activeTab='editManufacturer')"></div>
<div class="container mt-4">
    <h3 class="text-center">Редактирование производителя</h3>
</div>
<div class="container mt-5" style="width: 30%">
    <form method="post" th:action="@{/manufacturers/edit}" th:object="${manufacturer}" enctype="multipart/form-data">
        <div class="mb-3">
            <input id="id" th:field="*{id}" type="hidden">
            <label for="name" class="form-label">Производитель</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        </div>
        <div class="alert alert-danger alert-dismissible fade show" th:if="${#fields.hasErrors('name')}">
            <span th:errors="*{name}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Страна</label>
            <input type="text" class="form-control" id="country" th:field="*{country}">
        </div>
        <div class="alert alert-danger alert-dismissible fade show" th:if="${#fields.hasErrors('country')}">
            <span th:errors="*{country}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">Город</label>
            <input type="text" class="form-control" id="city" th:field="*{city}">
        </div>
        <div class="alert alert-danger alert-dismissible fade show" th:if="${#fields.hasErrors('city')}">
            <span th:errors="*{city}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Адрес</label>
            <input type="text" class="form-control" id="address" th:field="*{address}">
        </div>
        <div class="alert alert-danger alert-dismissible fade show" th:if="${#fields.hasErrors('address')}">
            <span th:errors="*{address}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Номер телефона</label>
            <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}">
        </div>
        <div class="alert alert-danger alert-dismissible fade show" th:if="${#fields.hasErrors('phoneNumber')}">
            <span th:errors="*{phoneNumber}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" th:field="*{email}">
        </div>
        <div class="alert alert-danger alert-dismissible fade show" th:if="${#fields.hasErrors('email')}">
            <span th:errors="*{email}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        <button type="submit" class="btn btn-primary">Добавить производителя</button>
        <a class="btn btn-secondary" th:href="@{/manufacturers/view(id=${manufacturer.id})}">Отмена</a>
    </form>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>