<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header(~{::title})">
    <title>Заказ товара</title>
</head>
<body>
<div th:replace="fragments/menu::menu(activeTab='order')"></div>
<div class="container mt-4">
    <h3 class="text-center">Заказ товара</h3>
    <h6 class="text-center" th:text="${goods.name}"></h6>
</div>
<div class="container mt-5" style="width: 30%">
    <form method="post" th:action="@{/goods/order}" th:object="${goods}">
        <input id="id" th:field="*{id}" type="hidden">
        <div class="mb-3">
            <label for="name" class="form-label">Фамилия и имя</label>
            <input type="text" class="form-control" id="name" required="required">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Номер телефона</label>
            <input type="tel" class="form-control" placeholder="+375-XX-XXX-XX-XX" id="phone" maxlength="17" required="required"
                   pattern="+375-[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"/>
        </div>
        <div class="col text-center">
            <button type="submit" class="btn btn-primary">Заказать</button>
        </div>
    </form>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>