<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<footer class="text-center text-lg-start bg-white text-muted mt-5" th:fragment="footer">
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-2 col-lg-3 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3 text-grayish"></i>О компании
                    </h6>
                    <ul>
                        <li><a href="#" class="text-reset">О нас </a></li>
                        <li><a href="#" class="text-reset">Наши магазины</a></li>
                        <li><a href="#" class="text-reset">Новости</a></li>
                        <li><a href="#" class="text-reset">Сотрудничество</a></li>
                        <li><a href="#" class="text-reset">Работа в АО "Ювелирные украшения" </a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fa-solid fa-share-nodes me-3 text-grayish"></i>Социальные сети
                    </h6>
                        <a href="#" class="text-reset text-decoration-none"><i class="fab fa-facebook-f"></i> Facebook</a><br>
                        <a href="#" class="text-reset text-decoration-none"><i class="fab fa-twitter"></i> Twitter</a><br>
                        <a href="#" class="text-reset text-decoration-none"><i class="fab fa-google"></i> Google+</a><br>
                        <a href="#" class="text-reset text-decoration-none"><i class="fab fa-instagram"></i> Instagram</a>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fa-solid fa-circle-info me-3 text-grayish"></i>Инфоцентр
                    </h6>
                    <p>АО "Ювелирные украшения".<br>Московский проспект, 61<br>Витебск
                        <br><a href="#" class="text-reset">contact@jewelry.com</a>
                        <br>+375-29-590-590</p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fa-solid fa-user me-3 text-grayish"></i>Клиентам</h6>
                    <ul>
                        <li><a href="#" class="text-reset">Скупка и обмен</a></li>
                        <li><a href="#" class="text-reset">Акции</a></li>
                        <li><a href="#" class="text-reset">Программа лояльности</a></li>
                        <li><a href="#" class="text-reset">Оплата и доставка</a></li>
                        <li><a href="#" class="text-reset">Подарочный сертификат </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        <p class="copy">Copyright 2022 АО "Ювелирные украшения". Все права защищены.</p>
    </div>
</footer>
</html>