<!DOCTYPE html>
<html lang="ru">
<head th:replace="fragments/header::header(~{::title})">
    <title>Ювелирные украшения</title>
</head>
<!--<body th:style="'background: url(images/0.jpg)'">-->
<body>
<div th:replace="fragments/menu::menu(activeTab='index')"></div>
<div class="container">
    <div class="blocks">
        <div class="first_block">
            <img class="shadow-lg" th:src="@{images/143.jpg}" width="1000"/>
        </div>

        <div class="second_block">
            <h2>ИСТОРИЯ СОЗДАНИЯ</h2>
            <p>АО "Ювелирные украшения" — сеть ювелирных магазинов, которую знают и любят в Беларуси.
                Мы продаем актуальные коллекции украшений от известных брендов по самым выгодным ценам в стране.
                Сейчас под нашим брендом работает более 50 магазинов в 37 городах.
            <p>
            <p>В нашей команде работают энергичные, открытые люди, которые всегда готовы прийти на помощь, с
                удовольствием делятся
                информацией и внимательны к потребностям каждого покупателя. Благодаря нашим профессионалам в магазинах
                сети поддерживается
                атмосфера, в которой выбирать украшения приятно и легко. Создавая сеть ювелирных магазинов, мы
                стремились объединить
                разных людей в их естественном желании украсить свою жизнь драгоценными моментами прикосновения к
                прекрасному.</p>
        </div>
    </div>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>